Repository alien11689/advent-of-code-public: changes, and which Codecov flags are due for each by the changed paths.
All: AoC 2024, AoC 2025, AoC Rust

Solve 2025/06
  2025/src/main/java/dpr/aoc2025/Day06.java
  2025/src/test/java/dpr/aoc2025/Day06Test.java
Due: AoC 2025

Solve 2025/07
  2025/src/main/java/dpr/aoc2025/Day07.java
  2025/src/test/java/dpr/aoc2025/Day07Test.java
Due: AoC 2025

Solve 2025/08
  2025/src/main/java/dpr/aoc2025/Day08.java
  2025/src/main/java/dpr/aoc2025/Day09.java
  2025/src/main/java/dpr/aoc2025/Day10.java
  2025/src/main/java/dpr/aoc2025/Day11.java
  2025/src/main/java/dpr/aoc2025/Day12.java
  2025/src/test/java/dpr/aoc2025/Day08Test.java
Due: AoC 2025

Optimize 2025/08
  2025/src/main/java/dpr/aoc2025/Day08.java
Due: AoC 2025

Solve 2025/09
  2025/src/main/java/dpr/aoc2025/Day09.java
  2025/src/test/java/dpr/aoc2025/Day09Test.java
Due: AoC 2025

Solved 2025/10 with part 2 taking hours to finish
  2025/src/main/java/dpr/aoc2025/Day10.java
  2025/src/test/java/dpr/aoc2025/Day10Test.java
Due: AoC 2025

Solve 2025/10/02 with Z3
  2025/pom.xml
  2025/src/main/java/dpr/aoc2025/Day08.java
  2025/src/main/java/dpr/aoc2025/Day10.java
  2025/src/test/java/dpr/aoc2025/Day10Test.java
Due: AoC 2025

Solve 2025/11 - half-manually
  2025/src/main/java/dpr/aoc2025/Day10.java
  2025/src/main/java/dpr/aoc2025/Day11.java
  2025/src/test/java/dpr/aoc2025/Day11Test.java
Due: AoC 2025

Simplify 2025/11
  2025/src/main/java/dpr/aoc2025/Day11.java
Due: AoC 2025

Generalize 2025/11 with DFS
  2025/src/main/java/dpr/aoc2025/Day11.java
  2025/src/test/java/dpr/aoc2025/Day11Test.java
Due: AoC 2025

Solve 2025/12 with naive solution that does not work for test input
  2025/src/main/java/dpr/aoc2025/Day12.java
  2025/src/test/java/dpr/aoc2025/Day12Test.java
Due: AoC 2025

Make test passing on sample input in 2025/12 - but it is not a target solution
  2025/src/main/java/dpr/aoc2025/Day12.java
  2025/src/test/java/dpr/aoc2025/Day12Test.java
Due: AoC 2025

Improve 2025/12 to work also on the sample - not perfect
  2025/src/main/java/dpr/aoc2025/Day12.java
Due: AoC 2025

Add tests and coverage for advent 2015-2023
  .codecov.yml
  .github/workflows/build-jvm.yml
  2015/src/main/kotlin/dpr/aoc2015/Day01.kt
  2015/src/test/kotlin/dpr/aoc2015/Day01Test.kt
  parent/pom.xml
  pom.xml
Due: none

Cleanup profiles
  2024/pom.xml
  2025/pom.xml
  pom.xml
Due: AoC 2024, AoC 2025

Add tests for 2015/02
  2015/src/main/kotlin/dpr/aoc2015/Day01.kt
  2015/src/main/kotlin/dpr/aoc2015/Day02.kt
  2015/src/test/kotlin/dpr/aoc2015/Day02Test.kt
Due: none

Add some tests for 2015/1-3
  2015/src/main/kotlin/dpr/aoc2015/Day02.kt
  2015/src/main/kotlin/dpr/aoc2015/Day03.kt
Due: none

Add some tests for 2015/1-3
  2015/src/test/java/dpr/aoc2015/Day01Test.java
  2015/src/test/java/dpr/aoc2015/Day02Test.java
  2015/src/test/java/dpr/aoc2015/Day03Test.java
  2015/src/test/kotlin/dpr/aoc2015/Day01Test.kt
  2015/src/test/kotlin/dpr/aoc2015/Day02Test.kt
Due: none

Add tests for 2015/4
  2015/src/main/kotlin/dpr/aoc2015/Day04.kt
  2015/src/test/java/dpr/aoc2015/Day01Test.java
  2015/src/test/java/dpr/aoc2015/Day02Test.java
  2015/src/test/java/dpr/aoc2015/Day03Test.java
  2015/src/test/java/dpr/aoc2015/Day04Test.java
Due: none

Add tests for 2015/5
  2015/src/main/kotlin/dpr/aoc2015/Day05.kt
  2015/src/test/java/dpr/aoc2015/Day05Test.java
Due: none

Switch to java 25
  .github/workflows/build-jvm.yml
  pom.xml
Due: none

Upgrade maven wrapper
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Due: none

Switch to java 25 (#37)
  .github/workflows/build-jvm.yml
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  pom.xml
Due: none

Drop 2015/24 alt solutions
  2015/src/main/kotlin/dpr/aoc2015/Day24Evolutionary.kt
  2015/src/main/kotlin/dpr/aoc2015/Day24Iter.kt
Due: none

Add test for 2016/1
  2016/src/main/kotlin/dpr/aoc2016/Day01.kt
  2016/src/test/java/dpr/aoc2016/Day01Test.java
Due: none

Set explicit types for 2016 functions
  2016/src/main/kotlin/dpr/aoc2016/Day01.kt
  2016/src/main/kotlin/dpr/aoc2016/Day02.kt
  2016/src/main/kotlin/dpr/aoc2016/Day03.kt
  2016/src/main/kotlin/dpr/aoc2016/Day04.kt
  2016/src/main/kotlin/dpr/aoc2016/Day05.kt
  2016/src/main/kotlin/dpr/aoc2016/Day06.kt
  2016/src/main/kotlin/dpr/aoc2016/Day07.kt
  2016/src/main/kotlin/dpr/aoc2016/Day08.kt
  2016/src/main/kotlin/dpr/aoc2016/Day09.kt
  2016/src/main/kotlin/dpr/aoc2016/Day10.kt
  2016/src/main/kotlin/dpr/aoc2016/Day11.kt
  2016/src/main/kotlin/dpr/aoc2016/Day12.kt
  2016/src/main/kotlin/dpr/aoc2016/Day13.kt
  2016/src/main/kotlin/dpr/aoc2016/Day14.kt
  2016/src/main/kotlin/dpr/aoc2016/Day15.kt
  2016/src/main/kotlin/dpr/aoc2016/Day16.kt
  2016/src/main/kotlin/dpr/aoc2016/Day17.kt
  2016/src/main/kotlin/dpr/aoc2016/Day18.kt
  2016/src/main/kotlin/dpr/aoc2016/Day19.kt
  2016/src/main/kotlin/dpr/aoc2016/Day20.kt
  2016/src/main/kotlin/dpr/aoc2016/Day21.kt
  2016/src/main/kotlin/dpr/aoc2016/Day22.kt
  2016/src/main/kotlin/dpr/aoc2016/Day23.kt
  2016/src/main/kotlin/dpr/aoc2016/Day24.kt
  2016/src/main/kotlin/dpr/aoc2016/Day25.kt
Due: none

Add test for 2016/2
  2016/src/main/kotlin/dpr/aoc2016/Day02.kt
  2016/src/test/java/dpr/aoc2016/Day02Test.java
Due: none

Add test for 2016/3
  2016/src/main/kotlin/dpr/aoc2016/Day03.kt
  2016/src/test/java/dpr/aoc2016/Day03Test.java
Due: none

Add test for 2016/4
  2016/src/main/kotlin/dpr/aoc2016/Day04.kt
  2016/src/test/java/dpr/aoc2016/Day04Test.java
Due: none

Add test for 2016/5
  2016/src/main/kotlin/dpr/aoc2016/Day05.kt
  2016/src/test/java/dpr/aoc2016/Day02Test.java
  2016/src/test/java/dpr/aoc2016/Day03Test.java
  2016/src/test/java/dpr/aoc2016/Day04Test.java
  2016/src/test/java/dpr/aoc2016/Day05Test.java
Due: none

Add test for 2016/6
  2016/src/main/kotlin/dpr/aoc2016/Day06.kt
  2016/src/test/java/dpr/aoc2016/Day06Test.java
Due: none

Add test for 2016/7
  2016/src/main/kotlin/dpr/aoc2016/Day07.kt
  2016/src/test/java/dpr/aoc2016/Day07Test.java
Due: none

Add test for 2016/8
  2016/src/main/kotlin/dpr/aoc2016/Day08.kt
  2016/src/test/java/dpr/aoc2016/Day08Test.java
Due: none

Add test for 2016/9
  2016/src/main/kotlin/dpr/aoc2016/Day09.kt
  2016/src/test/java/dpr/aoc2016/Day09Test.java
Due: none

Add test for 2016/10
  2016/src/main/kotlin/dpr/aoc2016/Day10.kt
  2016/src/test/java/dpr/aoc2016/Day10Test.java
Due: none

Add test for 2016/11
  2016/src/main/kotlin/dpr/aoc2016/Day11.kt
  2016/src/test/java/dpr/aoc2016/Day11Test.java
Due: none

Add test for 2016/12
  2016/src/main/kotlin/dpr/aoc2016/Day12.kt
  2016/src/test/java/dpr/aoc2016/Day12Test.java
Due: none

Add test for 2016/13
  2016/src/main/kotlin/dpr/aoc2016/Day13.kt
  2016/src/test/java/dpr/aoc2016/Day13Test.java
Due: none

Add test for 2016/14
  2016/src/main/kotlin/dpr/aoc2016/Day14.kt
  2016/src/test/java/dpr/aoc2016/Day14Test.java
Due: none

Path conditions:
  AoC 2024: any of: 2024/**
  AoC 2025: any of: 2025/**
  AoC Rust: any of: rust-aoc/**
