Repository alien11689/advent-of-code-public: changes, and which Codecov flags are due for each by the changed paths.
All: AoC 2015, AoC 2016, AoC 2017, AoC 2018, AoC 2019, AoC 2020, AoC 2021, AoC 2022, AoC 2023, AoC 2024, AoC 2025, AoC Rust

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

comment:
  layout: "header, diff, flags, components" 

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: AoC_2015
      name: AoC 2015
      paths:
        - 2015/**
    - component_id: AoC_2016
      name: AoC 2016
      paths:
        - 2016/**
    - component_id: AoC_2017
      name: AoC 2017
      paths:
        - 2017/**
    - component_id: AoC_2018
      name: AoC 2018
      paths:
        - 2018/**
    - component_id: AoC_2019
      name: AoC 2019
      paths:
        - 2019/**
    - component_id: AoC_2020
      name: AoC 2020
      paths:
        - 2020/**
    - component_id: AoC_2021
      name: AoC 2021
      paths:
        - 2021/**
    - component_id: AoC_2022
      name: AoC 2022
      paths:
        - 2022/**
    - component_id: AoC_2023
      name: AoC 2023
      paths:
        - 2023/**
    - component_id: AoC_2024
      name: AoC 2024
      paths:
        - 2024/**
    - component_id: AoC_2025
      name: AoC 2025
      paths:
        - 2025/**
    - component_id: AoC_Rust
      name: AoC Rust
      paths:
        - rust-aoc/**

Add test for 2016/15
  2016/src/main/kotlin/dpr/aoc2016/Day15.kt
  2016/src/test/java/dpr/aoc2016/Day15Test.java
Due: AoC 2016

Add test for 2016/16
  2016/src/main/kotlin/dpr/aoc2016/Day16.kt
  2016/src/test/java/dpr/aoc2016/Day16Test.java
Due: AoC 2016

Add test for 2016/17
  2016/src/main/kotlin/dpr/aoc2016/Day17.kt
  2016/src/test/java/dpr/aoc2016/Day10Test.java
  2016/src/test/java/dpr/aoc2016/Day11Test.java
  2016/src/test/java/dpr/aoc2016/Day12Test.java
  2016/src/test/java/dpr/aoc2016/Day14Test.java
  2016/src/test/java/dpr/aoc2016/Day15Test.java
  2016/src/test/java/dpr/aoc2016/Day16Test.java
  2016/src/test/java/dpr/aoc2016/Day17Test.java
Due: AoC 2016

Add test for 2016/18
  2016/src/main/kotlin/dpr/aoc2016/Day18.kt
  2016/src/test/java/dpr/aoc2016/Day18Test.java
Due: AoC 2016

Add test for 2016/19
  2016/src/main/kotlin/dpr/aoc2016/Day19.kt
  2016/src/test/java/dpr/aoc2016/Day19Test.java
Due: AoC 2016

Add test for 2016/20
  2016/src/main/kotlin/dpr/aoc2016/Day20.kt
  2016/src/test/java/dpr/aoc2016/Day20Test.java
Due: AoC 2016

Add test for 2016/21
  2016/src/main/kotlin/dpr/aoc2016/Day21.kt
  2016/src/test/java/dpr/aoc2016/Day21Test.java
Due: AoC 2016

Add test for 2016/23
  2016/src/main/kotlin/dpr/aoc2016/Day23.kt
  2016/src/test/java/dpr/aoc2016/Day23Test.java
Due: AoC 2016

Add test for 2016/24
  2016/src/main/kotlin/dpr/aoc2016/Day24.kt
  2016/src/test/java/dpr/aoc2016/Day24Test.java
Due: AoC 2016

Prepare 2017 for tests
  2017/src/main/kotlin/dpr/aoc2017/Day01.kt
  2017/src/main/kotlin/dpr/aoc2017/Day02.kt
  2017/src/main/kotlin/dpr/aoc2017/Day03.kt
  2017/src/main/kotlin/dpr/aoc2017/Day04.kt
  2017/src/main/kotlin/dpr/aoc2017/Day05.kt
  2017/src/main/kotlin/dpr/aoc2017/Day06.kt
  2017/src/main/kotlin/dpr/aoc2017/Day07.kt
  2017/src/main/kotlin/dpr/aoc2017/Day08.kt
  2017/src/main/kotlin/dpr/aoc2017/Day09.kt
  2017/src/main/kotlin/dpr/aoc2017/Day10.kt
  2017/src/main/kotlin/dpr/aoc2017/Day11.kt
  2017/src/main/kotlin/dpr/aoc2017/Day12.kt
  2017/src/main/kotlin/dpr/aoc2017/Day13.kt
  2017/src/main/kotlin/dpr/aoc2017/Day14.kt
  2017/src/main/kotlin/dpr/aoc2017/Day15.kt
  2017/src/main/kotlin/dpr/aoc2017/Day16.kt
  2017/src/main/kotlin/dpr/aoc2017/Day17.kt
  2017/src/main/kotlin/dpr/aoc2017/Day18.kt
  2017/src/main/kotlin/dpr/aoc2017/Day19.kt
  2017/src/main/kotlin/dpr/aoc2017/Day20.kt
  2017/src/main/kotlin/dpr/aoc2017/Day21.kt
  2017/src/main/kotlin/dpr/aoc2017/Day22.kt
  2017/src/main/kotlin/dpr/aoc2017/Day23.kt
  2017/src/main/kotlin/dpr/aoc2017/Day24.kt
  2017/src/main/kotlin/dpr/aoc2017/Day25.kt
Due: AoC 2017

Add test for 2017/01
  2017/src/test/java/dpr/aoc2017/Day01Test.java
Due: AoC 2017

Add test for 2018/01
  2018/src/main/kotlin/dpr/aoc2018/Day01.kt
  2018/src/test/java/dpr/aoc2018/Day01Test.java
Due: AoC 2018

Add test for 2019/01
  2019/src/main/kotlin/dpr/aoc2019/Day01.kt
  2019/src/test/java/dpr/aoc2019/Day01Test.java
Due: AoC 2019

Add test for 2020/01
  2020/src/main/kotlin/dpr/aoc2020/Day01.kt
  2020/src/test/java/dpr/aoc2020/Day01Test.java
Due: AoC 2020

Add test for 2021/01
  2021/src/main/kotlin/dpr/aoc2021/Day01.kt
  2021/src/test/java/dpr/aoc2021/Day01Test.java
Due: AoC 2021

Add test for 2022/01
  2022/src/main/kotlin/dpr/aoc2022/Day01.kt
  2022/src/test/java/dpr/aoc2022/Day01Test.java
Due: AoC 2022

Add test for 2023/01
  2023/pom.xml
  2023/src/main/kotlin/dpr/aoc2023/Day01.kt
  2023/src/test/java/dpr/aoc2023/Day01Test.java
Due: AoC 2023

Add test for 2017/02
  2017/src/main/kotlin/dpr/aoc2017/Day02.kt
  2017/src/test/java/dpr/aoc2017/Day02Test.java
Due: AoC 2017

Add test for 2017/03
  2017/src/main/kotlin/dpr/aoc2017/Day03.kt
  2017/src/test/java/dpr/aoc2017/Day03Test.java
Due: AoC 2017

Add test for 2017/04
  2017/src/test/java/dpr/aoc2017/Day04Test.java
Due: AoC 2017

Add test for 2017/05
  2017/src/test/java/dpr/aoc2017/Day05Test.java
Due: AoC 2017

Add test for 2017/06
  2017/src/main/kotlin/dpr/aoc2017/Day06.kt
  2017/src/test/java/dpr/aoc2017/Day06Test.java
Due: AoC 2017

Add test for 2017/07
  2017/src/test/java/dpr/aoc2017/Day07Test.java
Due: AoC 2017

Add test for 2017/08
  2017/src/test/java/dpr/aoc2017/Day08Test.java
Due: AoC 2017

Add test for 2017/09
  2017/src/test/java/dpr/aoc2017/Day09Test.java
Due: AoC 2017

Add test for 2017/10
  2017/src/main/kotlin/dpr/aoc2017/Day10.kt
  2017/src/test/java/dpr/aoc2017/Day10Test.java
Due: AoC 2017

Add test for 2017/11
  2017/src/main/kotlin/dpr/aoc2017/Day11.kt
  2017/src/test/java/dpr/aoc2017/Day11Test.java
Due: AoC 2017

Add test for 2017/12
  2017/src/test/java/dpr/aoc2017/Day12Test.java
Due: AoC 2017

Add test for 2017/13
  2017/src/test/java/dpr/aoc2017/Day13Test.java
Due: AoC 2017

Add test for 2017/14
  2017/src/test/java/dpr/aoc2017/Day14Test.java
Due: AoC 2017

Add test for 2017/15
  2017/src/main/kotlin/dpr/aoc2017/Day15.kt
  2017/src/test/java/dpr/aoc2017/Day15Test.java
Due: AoC 2017

Add test for 2017/16
  2017/src/main/kotlin/dpr/aoc2017/Day16.kt
  2017/src/test/java/dpr/aoc2017/Day16Test.java
Due: AoC 2017

Add test for 2017/17
  2017/src/main/kotlin/dpr/aoc2017/Day17.kt
  2017/src/test/java/dpr/aoc2017/Day17Test.java
Due: AoC 2017

Add test for 2017/18
  2017/src/test/java/dpr/aoc2017/Day18Test.java
Due: AoC 2017

Add test for 2017/19
  2017/src/main/kotlin/dpr/aoc2017/Day19.kt
  2017/src/test/java/dpr/aoc2017/Day19Test.java
Due: AoC 2017

Add test for 2017/20
  2017/src/main/kotlin/dpr/aoc2017/Day20.kt
  2017/src/test/java/dpr/aoc2017/Day20Test.java
Due: AoC 2017

Simplify run all in 2024 and 2025
  2024/src/main/java/dpr/aoc2024/All.java
  2024/src/main/java/dpr/aoc2024/Day01.java
  2024/src/main/java/dpr/aoc2024/Day02.java
  2024/src/main/java/dpr/aoc2024/Day03.java
  2024/src/main/java/dpr/aoc2024/Day04.java
  2024/src/main/java/dpr/aoc2024/Day05.java
  2024/src/main/java/dpr/aoc2024/Day06.java
  2024/src/main/java/dpr/aoc2024/Day07.java
  2024/src/main/java/dpr/aoc2024/Day08.java
  2024/src/main/java/dpr/aoc2024/Day09.java
  2024/src/main/java/dpr/aoc2024/Day10.java
  2024/src/main/java/dpr/aoc2024/Day11.java
  2024/src/main/java/dpr/aoc2024/Day12.java
  2024/src/main/java/dpr/aoc2024/Day13.java
  2024/src/main/java/dpr/aoc2024/Day14.java
  2024/src/main/java/dpr/aoc2024/Day15.java
  2024/src/main/java/dpr/aoc2024/Day16.java
  2024/src/main/java/dpr/aoc2024/Day17.java
  2024/src/main/java/dpr/aoc2024/Day18.java
  2024/src/main/java/dpr/aoc2024/Day19.java
  2024/src/main/java/dpr/aoc2024/Day20.java
  2024/src/main/java/dpr/aoc2024/Day21.java
  2024/src/main/java/dpr/aoc2024/Day22.java
  2024/src/main/java/dpr/aoc2024/Day23.java
  2024/src/main/java/dpr/aoc2024/Day24.java
  2024/src/main/java/dpr/aoc2024/Day25.java
  2025/src/main/java/dpr/aoc2025/All.java
  2025/src/main/java/dpr/aoc2025/Day01.java
  2025/src/main/java/dpr/aoc2025/Day02.java
  2025/src/main/java/dpr/aoc2025/Day03.java
  2025/src/main/java/dpr/aoc2025/Day04.java
  2025/src/main/java/dpr/aoc2025/Day05.java
  2025/src/main/java/dpr/aoc2025/Day06.java
  2025/src/main/java/dpr/aoc2025/Day07.java
  2025/src/main/java/dpr/aoc2025/Day08.java
  2025/src/main/java/dpr/aoc2025/Day09.java
  2025/src/main/java/dpr/aoc2025/Day10.java
  2025/src/main/java/dpr/aoc2025/Day11.java
  2025/src/main/java/dpr/aoc2025/Day12.java
  commons/src/main/kotlin/dpr/commons/DayRunner.kt
Due: AoC 2024, AoC 2025

Add test for 2017/21
  2017/src/main/kotlin/dpr/aoc2017/Day21.kt
  2017/src/test/java/dpr/aoc2017/Day21Test.java
Due: AoC 2017

Add test for 2017/22
  2017/src/main/kotlin/dpr/aoc2017/Day22.kt
  2017/src/test/java/dpr/aoc2017/Day21Test.java
  2017/src/test/java/dpr/aoc2017/Day22Test.java
Due: AoC 2017

Add test for 2017/24
  2017/src/test/java/dpr/aoc2017/Day24Test.java
Due: AoC 2017
