Repository alien11689/advent-of-code-public: changes, and which Codecov flags are due for each by the changed paths.
All: AoC 2015, AoC 2016, AoC 2017, AoC 2018, AoC 2019, AoC 2020, AoC 2021, AoC 2022, AoC 2023, AoC 2024, AoC 2025, AoC Rust

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

comment:
  layout: "header, diff, flags, components" 

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: AoC_2015
      name: AoC 2015
      paths:
        - 2015/**
    - component_id: AoC_2016
      name: AoC 2016
      paths:
        - 2016/**
    - component_id: AoC_2017
      name: AoC 2017
      paths:
        - 2017/**
    - component_id: AoC_2018
      name: AoC 2018
      paths:
        - 2018/**
    - component_id: AoC_2019
      name: AoC 2019
      paths:
        - 2019/**
    - component_id: AoC_2020
      name: AoC 2020
      paths:
        - 2020/**
    - component_id: AoC_2021
      name: AoC 2021
      paths:
        - 2021/**
    - component_id: AoC_2022
      name: AoC 2022
      paths:
        - 2022/**
    - component_id: AoC_2023
      name: AoC 2023
      paths:
        - 2023/**
    - component_id: AoC_2024
      name: AoC 2024
      paths:
        - 2024/**
    - component_id: AoC_2025
      name: AoC 2025
      paths:
        - 2025/**
    - component_id: AoC_Rust
      name: AoC Rust
      paths:
        - rust-aoc/**

Add test for 2019/22
  2019/src/main/kotlin/dpr/aoc2019/Day22.kt
  2019/src/test/java/dpr/aoc2019/Day22Test.java
Due: AoC 2019

Add test for 2019/24
  2019/src/main/kotlin/dpr/aoc2019/Day24.kt
  2019/src/test/java/dpr/aoc2019/Day24Test.java
Due: AoC 2019

Prepare year 2020 for testing
  2020/src/main/kotlin/dpr/aoc2020/Day01.kt
  2020/src/main/kotlin/dpr/aoc2020/Day02.kt
  2020/src/main/kotlin/dpr/aoc2020/Day03.kt
  2020/src/main/kotlin/dpr/aoc2020/Day04.kt
  2020/src/main/kotlin/dpr/aoc2020/Day05.kt
  2020/src/main/kotlin/dpr/aoc2020/Day06.kt
  2020/src/main/kotlin/dpr/aoc2020/Day07.kt
  2020/src/main/kotlin/dpr/aoc2020/Day08.kt
  2020/src/main/kotlin/dpr/aoc2020/Day09.kt
  2020/src/main/kotlin/dpr/aoc2020/Day10.kt
  2020/src/main/kotlin/dpr/aoc2020/Day11.kt
  2020/src/main/kotlin/dpr/aoc2020/Day12.kt
  2020/src/main/kotlin/dpr/aoc2020/Day13.kt
  2020/src/main/kotlin/dpr/aoc2020/Day14.kt
  2020/src/main/kotlin/dpr/aoc2020/Day15.kt
  2020/src/main/kotlin/dpr/aoc2020/Day16.kt
  2020/src/main/kotlin/dpr/aoc2020/Day17.kt
  2020/src/main/kotlin/dpr/aoc2020/Day18.kt
  2020/src/main/kotlin/dpr/aoc2020/Day19.kt
  2020/src/main/kotlin/dpr/aoc2020/Day20.kt
  2020/src/main/kotlin/dpr/aoc2020/Day21.kt
  2020/src/main/kotlin/dpr/aoc2020/Day22.kt
  2020/src/main/kotlin/dpr/aoc2020/Day23.kt
  2020/src/main/kotlin/dpr/aoc2020/Day24.kt
  2020/src/main/kotlin/dpr/aoc2020/Day25.kt
Due: AoC 2020

Add test for 2020/02
  2020/src/test/java/dpr/aoc2020/Day02Test.java
Due: AoC 2020

Add test for 2020/03
  2020/src/test/java/dpr/aoc2020/Day03Test.java
Due: AoC 2020

Add test for 2020/04
  2020/src/test/java/dpr/aoc2020/Day04Test.java
Due: AoC 2020

Add test for 2020/05
  2020/src/test/java/dpr/aoc2020/Day05Test.java
Due: AoC 2020

Add test for 2020/06
  2020/src/test/java/dpr/aoc2020/Day06Test.java
Due: AoC 2020

Add test for 2020/07
  2020/src/test/java/dpr/aoc2020/Day07Test.java
Due: AoC 2020

Add test for 2020/08
  2020/src/test/java/dpr/aoc2020/Day08Test.java
Due: AoC 2020

Add test for 2020/09
  2020/src/main/kotlin/dpr/aoc2020/Day09.kt
  2020/src/test/java/dpr/aoc2020/Day09Test.java
Due: AoC 2020

Add test for 2020/10
  2020/src/test/java/dpr/aoc2020/Day10Test.java
Due: AoC 2020

Add test for 2020/11
  2020/src/test/java/dpr/aoc2020/Day11Test.java
Due: AoC 2020

Add test for 2020/12
  2020/src/test/java/dpr/aoc2020/Day12Test.java
Due: AoC 2020

Add test for 2020/13
  2020/src/test/java/dpr/aoc2020/Day13Test.java
Due: AoC 2020

Add test for 2020/14
  2020/src/test/java/dpr/aoc2020/Day14Test.java
Due: AoC 2020

Add test for 2020/15
  2020/src/test/java/dpr/aoc2020/Day15Test.java
Due: AoC 2020

Add test for 2020/16
  2020/src/test/java/dpr/aoc2020/Day16Test.java
Due: AoC 2020

Add test for 2020/17
  2020/src/test/java/dpr/aoc2020/Day17Test.java
Due: AoC 2020

Add test for 2020/18
  2020/src/test/java/dpr/aoc2020/Day18Test.java
Due: AoC 2020

Add test for 2020/19
  2020/src/test/java/dpr/aoc2020/Day19Test.java
Due: AoC 2020

Add test for 2020/20
  2020/src/main/kotlin/dpr/aoc2020/Day20.kt
  2020/src/test/java/dpr/aoc2020/Day20Test.java
Due: AoC 2020

Add test for 2020/21
  2020/src/test/java/dpr/aoc2020/Day21Test.java
Due: AoC 2020

Add test for 2020/22
  2020/src/test/java/dpr/aoc2020/Day22Test.java
Due: AoC 2020

Add test for 2020/23
  2020/src/test/java/dpr/aoc2020/Day23Test.java
Due: AoC 2020

Add test for 2020/24
  2020/src/test/java/dpr/aoc2020/Day24Test.java
Due: AoC 2020

Add test for 2020/25
  2020/src/test/java/dpr/aoc2020/Day25Test.java
Due: AoC 2020

Prepare year 2021 for testing
  2021/src/main/kotlin/dpr/aoc2021/Day01.kt
  2021/src/main/kotlin/dpr/aoc2021/Day02.kt
  2021/src/main/kotlin/dpr/aoc2021/Day03.kt
  2021/src/main/kotlin/dpr/aoc2021/Day04.kt
  2021/src/main/kotlin/dpr/aoc2021/Day05.kt
  2021/src/main/kotlin/dpr/aoc2021/Day06.kt
  2021/src/main/kotlin/dpr/aoc2021/Day07.kt
  2021/src/main/kotlin/dpr/aoc2021/Day08.kt
  2021/src/main/kotlin/dpr/aoc2021/Day09.kt
  2021/src/main/kotlin/dpr/aoc2021/Day10.kt
  2021/src/main/kotlin/dpr/aoc2021/Day11.kt
  2021/src/main/kotlin/dpr/aoc2021/Day12.kt
  2021/src/main/kotlin/dpr/aoc2021/Day13.kt
  2021/src/main/kotlin/dpr/aoc2021/Day14.kt
  2021/src/main/kotlin/dpr/aoc2021/Day15.kt
  2021/src/main/kotlin/dpr/aoc2021/Day16.kt
  2021/src/main/kotlin/dpr/aoc2021/Day17.kt
  2021/src/main/kotlin/dpr/aoc2021/Day18.kt
  2021/src/main/kotlin/dpr/aoc2021/Day19.kt
  2021/src/main/kotlin/dpr/aoc2021/Day20.kt
  2021/src/main/kotlin/dpr/aoc2021/Day21.kt
  2021/src/main/kotlin/dpr/aoc2021/Day22.kt
  2021/src/main/kotlin/dpr/aoc2021/Day23.kt
  2021/src/main/kotlin/dpr/aoc2021/Day24.kt
  2021/src/main/kotlin/dpr/aoc2021/Day25.kt
Due: AoC 2021

Add test for 2021/02
  2021/src/test/java/dpr/aoc2021/Day02Test.java
Due: AoC 2021

Add test for 2021/03
  2021/src/test/java/dpr/aoc2021/Day03Test.java
Due: AoC 2021

Add test for 2021/04
  2021/src/test/java/dpr/aoc2021/Day04Test.java
Due: AoC 2021

Add test for 2021/05
  2021/src/test/java/dpr/aoc2021/Day05Test.java
Due: AoC 2021

Add test for 2021/06
  2021/src/test/java/dpr/aoc2021/Day06Test.java
Due: AoC 2021

Add test for 2021/07
  2021/src/test/java/dpr/aoc2021/Day07Test.java
Due: AoC 2021

Add test for 2021/08
  2021/src/test/java/dpr/aoc2021/Day08Test.java
Due: AoC 2021

Add test for 2021/09
  2021/src/test/java/dpr/aoc2021/Day09Test.java
Due: AoC 2021

Add test for 2021/10
  2021/src/test/java/dpr/aoc2021/Day10Test.java
Due: AoC 2021

Add test for 2021/11
  2021/src/test/java/dpr/aoc2021/Day11Test.java
Due: AoC 2021

Add test for 2021/12
  2021/src/test/java/dpr/aoc2021/Day12Test.java
Due: AoC 2021

Add test for 2021/13
  2021/src/test/java/dpr/aoc2021/Day13Test.java
Due: AoC 2021
