Repository alien11689/advent-of-code-public: changes, and which Codecov flags are due for each by the changed paths.
All: AoC 2015, AoC 2016, AoC 2017, AoC 2018, AoC 2019, AoC 2020, AoC 2021, AoC 2022, AoC 2023, AoC 2024, AoC 2025, AoC Rust

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

comment:
  layout: "header, diff, flags, components" 

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: AoC_2015
      name: AoC 2015
      paths:
        - 2015/**
    - component_id: AoC_2016
      name: AoC 2016
      paths:
        - 2016/**
    - component_id: AoC_2017
      name: AoC 2017
      paths:
        - 2017/**
    - component_id: AoC_2018
      name: AoC 2018
      paths:
        - 2018/**
    - component_id: AoC_2019
      name: AoC 2019
      paths:
        - 2019/**
    - component_id: AoC_2020
      name: AoC 2020
      paths:
        - 2020/**
    - component_id: AoC_2021
      name: AoC 2021
      paths:
        - 2021/**
    - component_id: AoC_2022
      name: AoC 2022
      paths:
        - 2022/**
    - component_id: AoC_2023
      name: AoC 2023
      paths:
        - 2023/**
    - component_id: AoC_2024
      name: AoC 2024
      paths:
        - 2024/**
    - component_id: AoC_2025
      name: AoC 2025
      paths:
        - 2025/**
    - component_id: AoC_Rust
      name: AoC Rust
      paths:
        - rust-aoc/**

Add test for 2017/25
  2017/src/main/kotlin/dpr/aoc2017/Day25.kt
  2017/src/test/java/dpr/aoc2017/Day25Test.java
Due: AoC 2017

Add test for 2018/02
  2018/src/main/kotlin/dpr/aoc2018/Day02.kt
  2018/src/test/java/dpr/aoc2018/Day02Test.java
Due: AoC 2018

Prepare 2018 for tests
  2018/src/main/kotlin/dpr/aoc2018/Day01.kt
  2018/src/main/kotlin/dpr/aoc2018/Day03.kt
  2018/src/main/kotlin/dpr/aoc2018/Day04.kt
  2018/src/main/kotlin/dpr/aoc2018/Day05.kt
  2018/src/main/kotlin/dpr/aoc2018/Day06.kt
  2018/src/main/kotlin/dpr/aoc2018/Day07.kt
  2018/src/main/kotlin/dpr/aoc2018/Day08.kt
  2018/src/main/kotlin/dpr/aoc2018/Day09.kt
  2018/src/main/kotlin/dpr/aoc2018/Day10.kt
  2018/src/main/kotlin/dpr/aoc2018/Day11.kt
  2018/src/main/kotlin/dpr/aoc2018/Day12.kt
  2018/src/main/kotlin/dpr/aoc2018/Day13.kt
  2018/src/main/kotlin/dpr/aoc2018/Day14.kt
  2018/src/main/kotlin/dpr/aoc2018/Day15.kt
  2018/src/main/kotlin/dpr/aoc2018/Day16.kt
  2018/src/main/kotlin/dpr/aoc2018/Day17.kt
  2018/src/main/kotlin/dpr/aoc2018/Day18.kt
  2018/src/main/kotlin/dpr/aoc2018/Day19.kt
  2018/src/main/kotlin/dpr/aoc2018/Day20.kt
  2018/src/main/kotlin/dpr/aoc2018/Day21.kt
  2018/src/main/kotlin/dpr/aoc2018/Day22.kt
  2018/src/main/kotlin/dpr/aoc2018/Day23.kt
  2018/src/main/kotlin/dpr/aoc2018/Day24.kt
  2018/src/main/kotlin/dpr/aoc2018/Day25.kt
Due: AoC 2018

Prepare 2019 for tests
  2019/src/main/kotlin/dpr/aoc2019/Day01.kt
  2019/src/main/kotlin/dpr/aoc2019/Day02.kt
  2019/src/main/kotlin/dpr/aoc2019/Day03.kt
  2019/src/main/kotlin/dpr/aoc2019/Day04.kt
  2019/src/main/kotlin/dpr/aoc2019/Day05.kt
  2019/src/main/kotlin/dpr/aoc2019/Day06.kt
  2019/src/main/kotlin/dpr/aoc2019/Day07.kt
  2019/src/main/kotlin/dpr/aoc2019/Day08.kt
  2019/src/main/kotlin/dpr/aoc2019/Day09.kt
  2019/src/main/kotlin/dpr/aoc2019/Day10.kt
  2019/src/main/kotlin/dpr/aoc2019/Day11.kt
  2019/src/main/kotlin/dpr/aoc2019/Day12.kt
  2019/src/main/kotlin/dpr/aoc2019/Day13.kt
  2019/src/main/kotlin/dpr/aoc2019/Day14.kt
  2019/src/main/kotlin/dpr/aoc2019/Day15.kt
  2019/src/main/kotlin/dpr/aoc2019/Day16.kt
  2019/src/main/kotlin/dpr/aoc2019/Day17.kt
  2019/src/main/kotlin/dpr/aoc2019/Day18.kt
  2019/src/main/kotlin/dpr/aoc2019/Day19.kt
  2019/src/main/kotlin/dpr/aoc2019/Day20.kt
  2019/src/main/kotlin/dpr/aoc2019/Day21.kt
  2019/src/main/kotlin/dpr/aoc2019/Day22.kt
  2019/src/main/kotlin/dpr/aoc2019/Day23.kt
  2019/src/main/kotlin/dpr/aoc2019/Day24.kt
  2019/src/main/kotlin/dpr/aoc2019/Day25.kt
Due: AoC 2019

Add test for 2018/03
  2018/src/test/java/dpr/aoc2018/Day03Test.java
Due: AoC 2018

Add test for 2018/04
  2018/src/test/java/dpr/aoc2018/Day04Test.java
Due: AoC 2018

Add test for 2018/05
  2018/src/test/java/dpr/aoc2018/Day05Test.java
Due: AoC 2018

Add test for 2018/06
  2018/src/main/kotlin/dpr/aoc2018/Day06.kt
  2018/src/test/java/dpr/aoc2018/Day06Test.java
Due: AoC 2018

Add test for 2018/07
  2018/src/main/kotlin/dpr/aoc2018/Day07.kt
  2018/src/test/java/dpr/aoc2018/Day07Test.java
Due: AoC 2018

Add test for 2018/08
  2018/src/test/java/dpr/aoc2018/Day08Test.java
Due: AoC 2018

Add test for 2018/09
  2018/src/main/kotlin/dpr/aoc2018/Day09.kt
  2018/src/test/java/dpr/aoc2018/Day09Test.java
Due: AoC 2018

Add test for 2018/10
  2018/src/test/java/dpr/aoc2018/Day10Test.java
Due: AoC 2018

Add test for 2018/11
  2018/src/main/kotlin/dpr/aoc2018/Day11.kt
  2018/src/test/java/dpr/aoc2018/Day11Test.java
Due: AoC 2018

Add test for 2018/12
  2018/src/test/java/dpr/aoc2018/Day12Test.java
Due: AoC 2018

Add test for 2018/13
  2018/src/test/java/dpr/aoc2018/Day13Test.java
Due: AoC 2018

Add test for 2018/14
  2018/src/main/kotlin/dpr/aoc2018/Day14.kt
  2018/src/test/java/dpr/aoc2018/Day14Test.java
Due: AoC 2018

Add test for 2018/15
  2018/src/main/kotlin/dpr/aoc2018/Day15.kt
  2018/src/test/java/dpr/aoc2018/Day15Test.java
Due: AoC 2018

Exclude All from coverage
  pom.xml
Due: none

Add test for 2018/17
  2018/src/test/java/dpr/aoc2018/Day17Test.java
Due: AoC 2018

Add test for 2018/18
  2018/src/test/java/dpr/aoc2018/Day18Test.java
Due: AoC 2018

Add test for 2018/19
  2018/src/test/java/dpr/aoc2018/Day19Test.java
Due: AoC 2018

Add test for 2018/20
  2018/src/test/java/dpr/aoc2018/Day20Test.java
Due: AoC 2018

Add test for 2018/22
  2018/src/main/kotlin/dpr/aoc2018/Day22.kt
  2018/src/test/java/dpr/aoc2018/Day22Test.java
Due: AoC 2018

Add test for 2018/23
  2018/src/main/kotlin/dpr/aoc2018/Day23.kt
  2018/src/test/java/dpr/aoc2018/Day23Test.java
Due: AoC 2018

Add test for 2018/24
  2018/src/main/kotlin/dpr/aoc2018/Day24.kt
  2018/src/test/java/dpr/aoc2018/Day24Test.java
Due: AoC 2018

Add test for 2018/25
  2018/src/main/kotlin/dpr/aoc2018/Day25.kt
  2018/src/test/java/dpr/aoc2018/Day25Test.java
Due: AoC 2018

Add test for 2019/02
  2019/src/test/java/dpr/aoc2019/Day02Test.java
Due: AoC 2019

Add test for 2019/03
  2019/src/test/java/dpr/aoc2019/Day03Test.java
Due: AoC 2019

Add test for 2019/04
  2019/src/main/kotlin/dpr/aoc2019/Day04.kt
  2019/src/test/java/dpr/aoc2019/Day04Test.java
Due: AoC 2019

Add test for 2019/05
  2019/src/main/kotlin/dpr/aoc2019/intcode/IntCodeComputer.kt
  2019/src/test/java/dpr/aoc2019/intcode/IntCodeComputerTest.java
Due: AoC 2019

Add test for 2019/06
  2019/src/test/java/dpr/aoc2019/Day06Test.java
Due: AoC 2019

Add test for 2019/07
  2019/src/test/java/dpr/aoc2019/Day07Test.java
Due: AoC 2019

Add test for 2019/08
  2019/src/main/kotlin/dpr/aoc2019/Day08.kt
  2019/src/test/java/dpr/aoc2019/Day08Test.java
Due: AoC 2019

Add test for 2019/09
  2019/src/test/java/dpr/aoc2019/intcode/IntCodeComputerTest.java
Due: AoC 2019

Add test for 2019/10
  2019/src/main/kotlin/dpr/aoc2019/Day10.kt
  2019/src/test/java/dpr/aoc2019/Day10Test.java
Due: AoC 2019

Add test for 2019/12
  2019/src/main/kotlin/dpr/aoc2019/Day12.kt
  2019/src/test/java/dpr/aoc2019/Day12Test.java
Due: AoC 2019

Add test for 2019/14
  2019/src/main/kotlin/dpr/aoc2019/Day14.kt
  2019/src/test/java/dpr/aoc2019/Day14Test.java
Due: AoC 2019

Add test for 2019/16
  2019/src/main/kotlin/dpr/aoc2019/Day16.kt
  2019/src/test/java/dpr/aoc2019/Day16Test.java
Due: AoC 2019

Add test for 2019/18
  2019/src/main/kotlin/dpr/aoc2019/Day18.kt
  2019/src/test/java/dpr/aoc2019/Day18Test.java
Due: AoC 2019

Add test for 2019/20
  2019/src/main/kotlin/dpr/aoc2019/Day20.kt
  2019/src/test/java/dpr/aoc2019/Day20Test.java
Due: AoC 2019
