Repository alien11689/advent-of-code-public: changes, and which Codecov flags are due for each by the changed paths.
All: AoC 2015, AoC 2016, AoC 2017, AoC 2018, AoC 2019, AoC 2020, AoC 2021, AoC 2022, AoC 2023, AoC 2024, AoC 2025, AoC Rust

Add test for 2021/14
  2021/src/test/java/dpr/aoc2021/Day14Test.java
Due: AoC 2021

Add test for 2021/15
  2021/src/test/java/dpr/aoc2021/Day15Test.java
Due: AoC 2021

Add test for 2021/16
  2021/src/test/java/dpr/aoc2021/Day16Test.java
Due: AoC 2021

Add test for 2021/17
  2021/src/test/java/dpr/aoc2021/Day17Test.java
Due: AoC 2021

Add test for 2021/18
  2021/src/test/java/dpr/aoc2021/Day18Test.java
Due: AoC 2021

Add test for 2021/19
  2021/src/test/java/dpr/aoc2021/Day19Test.java
Due: AoC 2021

Add test for 2021/20
  2021/src/test/java/dpr/aoc2021/Day20Test.java
Due: AoC 2021

Add test for 2021/21
  2021/src/main/kotlin/dpr/aoc2021/Day21.kt
  2021/src/test/java/dpr/aoc2021/Day21Test.java
Due: AoC 2021

Add test for 2021/22
  2021/src/test/java/dpr/aoc2021/Day22Test.java
Due: AoC 2021

Add test for 2021/23
  2021/src/test/java/dpr/aoc2021/Day23Test.java
Due: AoC 2021

Add test for 2021/25
  2021/src/test/java/dpr/aoc2021/Day25Test.java
Due: AoC 2021

Prepare year 2022 for testing
  2022/src/main/kotlin/dpr/aoc2022/Day01.kt
  2022/src/main/kotlin/dpr/aoc2022/Day02.kt
  2022/src/main/kotlin/dpr/aoc2022/Day03.kt
  2022/src/main/kotlin/dpr/aoc2022/Day04.kt
  2022/src/main/kotlin/dpr/aoc2022/Day05.kt
  2022/src/main/kotlin/dpr/aoc2022/Day06.kt
  2022/src/main/kotlin/dpr/aoc2022/Day07.kt
  2022/src/main/kotlin/dpr/aoc2022/Day08.kt
  2022/src/main/kotlin/dpr/aoc2022/Day09.kt
  2022/src/main/kotlin/dpr/aoc2022/Day10.kt
  2022/src/main/kotlin/dpr/aoc2022/Day11.kt
  2022/src/main/kotlin/dpr/aoc2022/Day12.kt
  2022/src/main/kotlin/dpr/aoc2022/Day13.kt
  2022/src/main/kotlin/dpr/aoc2022/Day14.kt
  2022/src/main/kotlin/dpr/aoc2022/Day15.kt
  2022/src/main/kotlin/dpr/aoc2022/Day16.kt
  2022/src/main/kotlin/dpr/aoc2022/Day17.kt
  2022/src/main/kotlin/dpr/aoc2022/Day18.kt
  2022/src/main/kotlin/dpr/aoc2022/Day19.kt
  2022/src/main/kotlin/dpr/aoc2022/Day20.kt
  2022/src/main/kotlin/dpr/aoc2022/Day21.kt
  2022/src/main/kotlin/dpr/aoc2022/Day22.kt
  2022/src/main/kotlin/dpr/aoc2022/Day23.kt
  2022/src/main/kotlin/dpr/aoc2022/Day24.kt
  2022/src/main/kotlin/dpr/aoc2022/Day25.kt
Due: AoC 2022

Add test for 2022/02
  2022/src/main/kotlin/dpr/aoc2022/Day02.kt
  2022/src/main/kotlin/dpr/aoc2022/Day03.kt
  2022/src/main/kotlin/dpr/aoc2022/Day04.kt
  2022/src/main/kotlin/dpr/aoc2022/Day05.kt
  2022/src/main/kotlin/dpr/aoc2022/Day06.kt
  2022/src/main/kotlin/dpr/aoc2022/Day07.kt
  2022/src/main/kotlin/dpr/aoc2022/Day08.kt
  2022/src/main/kotlin/dpr/aoc2022/Day09.kt
  2022/src/main/kotlin/dpr/aoc2022/Day10.kt
  2022/src/main/kotlin/dpr/aoc2022/Day11.kt
  2022/src/main/kotlin/dpr/aoc2022/Day12.kt
  2022/src/main/kotlin/dpr/aoc2022/Day13.kt
  2022/src/main/kotlin/dpr/aoc2022/Day14.kt
  2022/src/main/kotlin/dpr/aoc2022/Day15.kt
  2022/src/main/kotlin/dpr/aoc2022/Day16.kt
  2022/src/main/kotlin/dpr/aoc2022/Day17.kt
  2022/src/main/kotlin/dpr/aoc2022/Day18.kt
  2022/src/main/kotlin/dpr/aoc2022/Day19.kt
  2022/src/main/kotlin/dpr/aoc2022/Day20.kt
  2022/src/main/kotlin/dpr/aoc2022/Day21.kt
  2022/src/main/kotlin/dpr/aoc2022/Day22.kt
  2022/src/main/kotlin/dpr/aoc2022/Day23.kt
  2022/src/main/kotlin/dpr/aoc2022/Day24.kt
  2022/src/main/kotlin/dpr/aoc2022/Day25.kt
  2022/src/test/java/dpr/aoc2022/Day02Test.java
Due: AoC 2022

Add test for 2022/03
  2022/src/test/java/dpr/aoc2022/Day03Test.java
Due: AoC 2022

Add test for 2022/04
  2022/src/test/java/dpr/aoc2022/Day04Test.java
Due: AoC 2022

Add test for 2022/05
  2022/src/main/kotlin/dpr/aoc2022/Day05.kt
  2022/src/test/java/dpr/aoc2022/Day05Test.java
Due: AoC 2022

Add test for 2022/06
  2022/src/test/java/dpr/aoc2022/Day06Test.java
Due: AoC 2022

Add test for 2022/07
  2022/src/test/java/dpr/aoc2022/Day07Test.java
Due: AoC 2022

Add test for 2022/08
  2022/src/test/java/dpr/aoc2022/Day08Test.java
Due: AoC 2022

Add test for 2022/09
  2022/src/test/java/dpr/aoc2022/Day09Test.java
Due: AoC 2022

Add test for 2022/10
  2022/src/test/java/dpr/aoc2022/Day10Test.java
Due: AoC 2022

Add test for 2022/11
  2022/src/test/java/dpr/aoc2022/Day11Test.java
Due: AoC 2022

Add test for 2022/12
  2022/src/test/java/dpr/aoc2022/Day12Test.java
Due: AoC 2022

Add test for 2022/13
  2022/src/test/java/dpr/aoc2022/Day13Test.java
Due: AoC 2022

Add test for 2022/14
  2022/src/test/java/dpr/aoc2022/Day14Test.java
Due: AoC 2022

Add test for 2022/15
  2022/src/test/java/dpr/aoc2022/Day15Test.java
Due: AoC 2022

Add test for 2022/16
  2022/src/test/java/dpr/aoc2022/Day16Test.java
Due: AoC 2022

Add test for 2022/17
  2022/src/test/java/dpr/aoc2022/Day17Test.java
Due: AoC 2022

Add test for 2022/18
  2022/src/test/java/dpr/aoc2022/Day18Test.java
Due: AoC 2022

Add test for 2022/19
  2022/src/test/java/dpr/aoc2022/Day19Test.java
Due: AoC 2022

Add test for 2022/20
  2022/src/test/java/dpr/aoc2022/Day20Test.java
Due: AoC 2022

Add test for 2022/21
  2022/src/test/java/dpr/aoc2022/Day21Test.java
Due: AoC 2022

Add test for 2022/22
  2022/src/test/java/dpr/aoc2022/Day22Test.java
Due: AoC 2022

Add test for 2022/23
  2022/src/test/java/dpr/aoc2022/Day23Test.java
Due: AoC 2022

Add test for 2022/24
  2022/src/test/java/dpr/aoc2022/Day24Test.java
Due: AoC 2022

Add test for 2022/25
  2022/src/test/java/dpr/aoc2022/Day25Test.java
Due: AoC 2022

Prepare year 2023 for testing
  2023/pom.xml
  2023/src/main/kotlin/dpr/aoc2023/Day01.kt
  2023/src/main/kotlin/dpr/aoc2023/Day02.kt
  2023/src/main/kotlin/dpr/aoc2023/Day03.kt
  2023/src/main/kotlin/dpr/aoc2023/Day04.kt
  2023/src/main/kotlin/dpr/aoc2023/Day05.kt
  2023/src/main/kotlin/dpr/aoc2023/Day06.kt
  2023/src/main/kotlin/dpr/aoc2023/Day07.kt
  2023/src/main/kotlin/dpr/aoc2023/Day08.kt
  2023/src/main/kotlin/dpr/aoc2023/Day09.kt
  2023/src/main/kotlin/dpr/aoc2023/Day10.kt
  2023/src/main/kotlin/dpr/aoc2023/Day11.kt
  2023/src/main/kotlin/dpr/aoc2023/Day12.kt
  2023/src/main/kotlin/dpr/aoc2023/Day13.kt
  2023/src/main/kotlin/dpr/aoc2023/Day14.kt
  2023/src/main/kotlin/dpr/aoc2023/Day15.kt
  2023/src/main/kotlin/dpr/aoc2023/Day16.kt
  2023/src/main/kotlin/dpr/aoc2023/Day17.kt
  2023/src/main/kotlin/dpr/aoc2023/Day18.kt
  2023/src/main/kotlin/dpr/aoc2023/Day19.kt
  2023/src/main/kotlin/dpr/aoc2023/Day20.kt
  2023/src/main/kotlin/dpr/aoc2023/Day21.kt
  2023/src/main/kotlin/dpr/aoc2023/Day22.kt
  2023/src/main/kotlin/dpr/aoc2023/Day23.kt
  2023/src/main/kotlin/dpr/aoc2023/Day24.kt
  2023/src/main/kotlin/dpr/aoc2023/Day25.kt
Due: AoC 2023

Test year 2023
  2023/src/main/kotlin/dpr/aoc2023/Day10.kt
  2023/src/main/kotlin/dpr/aoc2023/Day11.kt
  2023/src/main/kotlin/dpr/aoc2023/Day25.kt
  2023/src/test/java/dpr/aoc2023/Day02Test.java
  2023/src/test/java/dpr/aoc2023/Day03Test.java
  2023/src/test/java/dpr/aoc2023/Day04Test.java
  2023/src/test/java/dpr/aoc2023/Day05Test.java
  2023/src/test/java/dpr/aoc2023/Day06Test.java
  2023/src/test/java/dpr/aoc2023/Day07Test.java
  2023/src/test/java/dpr/aoc2023/Day08Test.java
  2023/src/test/java/dpr/aoc2023/Day09Test.java
  2023/src/test/java/dpr/aoc2023/Day10Test.java
  2023/src/test/java/dpr/aoc2023/Day11Test.java
  2023/src/test/java/dpr/aoc2023/Day12Test.java
  2023/src/test/java/dpr/aoc2023/Day13Test.java
  2023/src/test/java/dpr/aoc2023/Day14Test.java
  2023/src/test/java/dpr/aoc2023/Day15Test.java
  2023/src/test/java/dpr/aoc2023/Day16Test.java
  2023/src/test/java/dpr/aoc2023/Day17Test.java
  2023/src/test/java/dpr/aoc2023/Day18Test.java
  2023/src/test/java/dpr/aoc2023/Day19Test.java
  2023/src/test/java/dpr/aoc2023/Day20Test.java
  2023/src/test/java/dpr/aoc2023/Day21Test.java
  2023/src/test/java/dpr/aoc2023/Day22Test.java
  2023/src/test/java/dpr/aoc2023/Day23Test.java
  2023/src/test/java/dpr/aoc2023/Day24Test.java
  2023/src/test/java/dpr/aoc2023/Day25Test.java
Due: AoC 2023

Remove unnecessary printlns
  2021/src/main/kotlin/dpr/aoc2021/Day21.kt
Due: AoC 2021

Path conditions:
  AoC 2015: any of: 2015/**
  AoC 2016: any of: 2016/**
  AoC 2017: any of: 2017/**
  AoC 2018: any of: 2018/**
  AoC 2019: any of: 2019/**
  AoC 2020: any of: 2020/**
  AoC 2021: any of: 2021/**
  AoC 2022: any of: 2022/**
  AoC 2023: any of: 2023/**
  AoC 2024: any of: 2024/**
  AoC 2025: any of: 2025/**
  AoC Rust: any of: rust-aoc/**
